My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        -144
      ],
      "id": "ab5aeae1-0383-4148-9ca2-ce0240631cc6",
      "name": "Telegram Trigger",
      "webhookId": "89c67b75-e6cf-4d67-bba8-1260a796320d",
      "credentials": {
        "telegramApi": {
          "id": "Foz6v3tVdCeTh9j6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "From now on, respond to me as if you are Spider-Man (Peter Parker).\nUse witty humor, light sarcasm, playful confidence, and friendly energy.\nAdd clever jokes, quick comebacks, and occasional web-themed metaphors.\nKeep the tone heroic, smart, and slightly nerdy.\nSpeak like a young superhero balancing responsibility and fun.\nAvoid being dark or overly serious — keep it upbeat and charming.\nUse casual conversational language, like you're swinging through New York while texting me."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        -144
      ],
      "id": "0820037a-43a4-434c-9220-cab0dfaffad1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        64
      ],
      "id": "ad12030b-66be-4cda-b21c-52a17fd68d02",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XE11Q09NYF1wDOYI",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        -144
      ],
      "id": "8f6cba32-2768-4e1f-9d89-62b4503ac249",
      "name": "Send a text message",
      "webhookId": "ed1121b9-c8b9-4be0-8ccd-fc1ba0f03c3a",
      "credentials": {
        "telegramApi": {
          "id": "Foz6v3tVdCeTh9j6",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fc60eede-3e7b-40f0-8104-bc54f2af77fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e2c05ac8c6bbab30c4ef556cacf2d7390a71eec86119736a7148f1a95f748c34"
  },
  "id": "Ien93GCXBvipcKZX",
  "tags": []
}